apiVersion: apps/v1
kind: Deployment
metadata:
  name: match
  labels:
    app: match
spec:
  replicas: 1
  selector:
    matchLabels:
      app: match
  template:
    metadata:
      labels:
        app: match
    spec:
      containers:
      - name: <your-container-name>
        image: <your-image-name>
        env:
        - name: VERTEX_AI
          value: <your-Vertex-AI-value>
        - name: AUTOML_PREDICTION_API
          value: <your-AutoML-API-value>
