apiVersion: apps/v1
kind: Deployment
metadata:
  name: acpurk.github.io
  labels:
    app: acpurk.github.io
spec:
  replicas: 1
  selector:
    matchLabels:
      app: acpurk.github.io
  template:
    metadata:
      labels:
        app: acpurk.github.io
    spec:
      containers:
      - name: <your-container-name>
        image: <your-image-name>
        env:
        - name: ORACLE_APEX
          value: <your-Oracle-APEX-value>
        - name: VERTEX_AI
          value: <your-Vertex-AI-value>
        - name: AUTOML_PREDICTION_API
          value: <your-AutoML-API-value>
